{% extends "admin_base.html" %}

{% block main %}

<script type = "text/javascript">
    function checkpassword_admin() {
        if (document.changepassword.password.npassword.value != document.changepassword.rpassword.value) {
            alert("Passwords do not match");
            document.changepassword.rpassword.focus();
            return false;
        }
        return true;
    }
</script>

<div class="card shadow m-2">
    <div class="card-body">
        <h5 class="p-2 text-danger" style="border-bottom: 3px solid red;">Change Paasowrd</h5>
        <div class="container-fluid">
            <form method="POST" name="changepassword" onsubmit="return checkpassword()">
                {% csrf_token %}
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Current Password</label>
                            <input type="text" name="currentpassword" class="form-control" placeholder="Enter the current password">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>New Password</label>
                            <input type="text" name="npassword" class="form-control" placeholder="Enter the New Password"required>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Re-Enter The Password</label>
                            <input type="text" name="rpassword" class="form-control" placeholder="re-enter the password" required>
                        </div>
                    </div>
                    
                </div>
                <input type="submit" value="Submit" class="m-2 btn btn-primary">
            </form>
        </div>
    </div>
</div>

{% if error == "no" %}
<script>
    alert('Password Updated Successfully');
    window.location = '{% url "logout" %}';
</script>
{% endif %}

{% if error == "yes" %}
<script>
    alert('Something went wrong, Try again later');
</script>
{% endif %}

{% if error == "not" %}
<script>
    alert(' Current password is incorrect');
</script>
{% endif %}

{% endblock %}
