{% extends "emp_base.html" %}

{% block main %}
<div class="card shadow m-2">
    <div class="card-body">
        <a href="{% url 'edit_myeducation' %}" class="btn btn-primary float-end btn-sm"> View My Education</a>
        <h5 class="p-2 text-danger" style="border-bottom: 3px solid red;">Edit My Education</h5>
        <div class="container-fluid">
            <form method="POST">
                {% csrf_token %}
                <table class="table table-bordered">
                    <tr>
                        <th>Course In Post Graduation</th>
                        <td><input type="text" name="coursepg" class="form-control" value="{{education.coursepg}}"></td>
                    </tr>
                    <tr>
                        <th>Post Graduate Collage </th>
                        <td><input type="text" name="schoolcolgpg" class="form-control" value="{{education.schoolcolgpg}}"></td>
                    </tr>
                    <tr>
                        <th>Post Graduation year</th>
                        <td><input type="text" name="yearofpassingpg" class="form-control" value="{{ education.yearofpassingpg }}"></td>
                    </tr>
                    <tr>
                        <th>Post Graduate percentage</th>
                        <td><input type="text" name="percentagepg" class="form-control" value="{{education.percentagepg}}"></td>
                    </tr>
                    <tr>
                        <th>Graduation Course</th>
                        <td><input type="text" name="coursegra" class="form-control" value="{{education.coursegra}}"></td>
                    </tr>
                    <tr>
                        <th>Graduation Collage</th>
                        <td><input type="text" name="schoolcolgra" class="form-control" value="{{education.schoolcolgra}}"></td>
                    </tr>
                    <tr>
                        <th>Graduation year</th>
                        <td><input type="text" name="yearofpassingra" class="form-control" value="{{education.yearofpassingra}}"></td>
                    </tr>
                    <tr>
                        <th>Graduate percentage</th>
                        <td><input type="text" name="percentagegra" class="form-control" value="{{education.percentagegra}}"></td>
                    </tr>
                    <tr>
                        <th>Secondary School Course </th>
                        <td><input type="text" name="coursessc" class="form-control" value="{{education.coursessc}}"></td>
                    </tr>
                    <tr>
                        <th>Secondary School</th>
                        <td><input type="text" name="schoolcolssc" class="form-control" value="{{ education.schoolcolssc }}"></td>
                    </tr>
                    <tr>
                        <th>Passing year</th>
                        <td><input type="text" name="yearofpassingssc" class="form-control" value="{{ education.yearofpassingssc }}"></td>
                    </tr>
                    <tr>
                        <th> percentage</th>
                        <td><input type="text" name="percentagessc" class="form-control" value="{{ education.percentagessc }}"></td>
                    </tr>
                    <tr>
                        <th>School Collage Course </th>
                        <td><input type="text" name="coursehsc" class="form-control" value="{{ education.coursehsc }}"></td>
                    </tr>
                    <tr>
                        <th>High School</th>
                        <td><input type="text" name="schoolcolghsc" class="form-control" value="{{ education.schoolcolghsc }}"></td>
                    </tr>
                    <tr>
                        <th>High school Passing Year</th>
                        <td><input type="text" name="yearofpassinghsc" class="form-control" value="{{ education.yearofpassinghsc }}"></td>
                    </tr>
                    <tr>
                        <th>High School percentage</th>
                        <td><input type="text" name="percentagehsc" class="form-control" value="{{ education.percentagehsc }}"></td>
                    </tr>
                </table>
                <input type="submit" value="Submit" class="btn btn-primary">
            </form>
        </div>
    </div>
</div>

{% if error == "no" %}
<script>
    alert('Education Updated Successfully');
    window.location = '{% url "edit_myeducation" %}';
</script>
{% endif %}

{% if error == "yes" %}
<script>
    alert('Something went wrong, Try again later');
</script>
{% endif %}

{% endblock %}
