
{% extends "emp_base.html" %}

{% block main %}
<div class="card shadow m-2">
    <div class="card-body">
        <h5 class="p-2 text-danger" style="border-bottom: 3px solid red;">My Experience</h5>
        <div class="container-fluid">
            <table>
                <tr>
                    <th>First Company</th>
                    <td>{{experience.company1name}}</td>
                </tr>

                <tr>
                    <th> First Job Designation</th>
                    <td>{{experience.company1desig}}</td>
                </tr>

                <tr>
                    <th>First Job Salary</th>
                    <td>{{experience.company1salary}}</td>
                </tr>

                <tr>
                    <th>First Job  Duration</th>
                    <td>{{experience.company1duration}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>



{% endblock %}
