{% extends "emp_base.html" %}

{% block main %}
<div class="card shadow m-2">
    <div class="card-body">
        <h5 class="p-2 text-danger" style="border-bottom: 3px solid red;">Profile</h5>
        <div class="container-fluid">
            <form method="POST" name="signup">
                {% csrf_token %}
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>First Name</label>
                            <input type="text" name="firstname" class="form-control" placeholder="Enter the first name" pattern="[A-Za-z]+" value="{{ employee.user.first_name }}" required>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Last Name</label>
                            <input type="text" name="lastname" class="form-control" placeholder="Enter the last name" pattern="[A-Za-z]+" value="{{ employee.user.last_name }}" required>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Employee Department</label>
                            <input type="text" name="department" class="form-control" placeholder="Department" value="{{ employee.empdept }}">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Employee Designation</label>
                            <input type="text" name="designation" class="form-control" placeholder="Designation" value="{{ employee.designation }}">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Employee Code</label>
                            <input type="text" name="employeecode" class="form-control" placeholder="Enter your employee code" pattern="[0-9]+" value="{{ employee.empcode }}" required>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Contact</label>
                            <input type="text" name="contact" class="form-control" placeholder="Contact" value="{{ employee.contact }}">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Email ID</label>
                            <input type="email" name="emailid" class="form-control" placeholder="Email ID" value="{{ employee.user.email }}" required>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Joining Date</label>
                            <input type="date" name="Jdate" class="form-control" value="{% if employee.joiningdate %}{{ employee.joiningdate|date:'Y-m-d' }}{% endif %}">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Gender</label>
                            <select name="gender" class="form-control">
                                <option value="none">Select Gender</option>
                                <option value="Male" {% if employee.gender == 'Male' %}selected{% endif %}>Male</option>
                                <option value="Female" {% if employee.gender == 'Female' %}selected{% endif %}>Female</option>
                                <option value="Other" {% if employee.gender == 'Other' %}selected{% endif %}>Other</option>
                            </select>
                        </div>
                    </div>
                </div>
                <input type="submit" value="Submit" class="m-2 btn btn-primary">
            </form>
        </div>
    </div>
</div>

{% if error == "no" %}
<script>
    alert('Profile Updated Successfully');
    window.location = '{% url "profile" %}';
</script>
{% endif %}

{% if error == "yes" %}
<script>
    alert('Something went wrong, Try again later');
</script>
{% endif %}

{% endblock %}
